@font-face {
  font-family: "Roboto";
  src: url("../../assets/css/Roboto-Regular.ttf"); }

body {
  padding: 0px !important;
  font-family: "Roboto", Arial, Helvetica, sans-serif; }

.row {
  padding: 0px !important;
  margin: 0px !important; }

a {
  text-decoration: none !important;
  color: #00B3B5; }

.padding-80 {
  padding: 80px 0; }
  @media only screen and (max-width: 480px) {
    .padding-80 {
      padding: 50px 0; } }

p {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  text-align: justify;
  color: #616262;
  margin: 0; }

h1, h2, h3, h4, h5 {
  font-family: "Roboto", Arial, Helvetica, sans-serif; }

.ih-item {
  height: auto !important;
  margin: 0 !important;
  border: none !important; }

.btn-dental {
  color: #fff;
  background-color: #00B3B5;
  border: 2px solid #00B3B5;
  -webkit-transition: .2s ease-in;
  -o-transition: .2s ease-in;
  transition: .2s ease-in;
  padding: 12px 28px;
  font-weight: 800;
  border-radius: 3px;
  -webkit-box-shadow: 10px 10px 10px -3px rgba(0, 0, 0, 0.08);
  box-shadow: 10px 10px 10px -3px rgba(0, 0, 0, 0.08);
  font-family: "Roboto", Arial, Helvetica, sans-serif; }

.btn-dental:hover {
  -webkit-box-shadow: 5px 5px 5px -3px rgba(0, 0, 0, 0.08);
  box-shadow: 5px 5px 5px -3px rgba(0, 0, 0, 0.08);
  border: 2px solid #00B3B5;
  padding: 11px 27px;
  color: #00B3B5;
  background: #fff; }

.btn-dental-2 {
  color: #00B3B5;
  background-color: #fff;
  border-color: #fff;
  -webkit-transition: .2s ease-in;
  -o-transition: .2s ease-in;
  transition: .2s ease-in;
  padding: 12px 28px;
  font-weight: 800;
  border-radius: 3px;
  -webkit-box-shadow: 10px 10px 10px -3px rgba(0, 0, 0, 0.08);
  box-shadow: 10px 10px 10px -3px rgba(0, 0, 0, 0.08);
  font-family: "Roboto", Arial, Helvetica, sans-serif; }

.btn-dental-2:hover {
  -webkit-box-shadow: 5px 5px 5px -3px rgba(0, 0, 0, 0.08);
  box-shadow: 5px 5px 5px -3px rgba(0, 0, 0, 0.08);
  border: 2px solid #fff;
  padding: 11px 27px;
  color: #fff;
  background: #00B3B5; }

.btn.focus, .btn:focus {
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none; }

.alert-div {
  position: fixed;
  top: 100px;
  display: none; }

.alert-div .alert {
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 600;
  text-align: center;
  color: #fff; }

#alert_success .alert {
  background: #28a745; }

#alert_update .alert {
  background: #007bff; }

#alert_delete .alert {
  background: #FF0000; }

.title {
  line-height: 1.15;
  font-size: 50px;
  color: #00B3B5;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 600;
  text-align: center;
  margin-bottom: 40px; }

.sub-title {
  line-height: 1.13;
  font-size: 26px;
  color: #00B3B5;
  font-family: "Roboto", Arial, Helvetica, sans-serif; }

.web-img {
  width: 100%;
  display: inline-block;
  height: auto;
  vertical-align: middle; }

@media only screen and (max-width: 480px) {
  .title {
    font-size: 35px;
    margin-bottom: 0px; } }

.nav-menu-mob {
  display: none; }

.nav-top {
  background: #00B3B5; }
  .nav-top .nav-social {
    padding-left: 0; }
  .nav-top ul {
    padding-left: 0;
    list-style: none;
    margin: 0; }
    .nav-top ul li {
      display: inline;
      padding-left: 10px;
      padding-right: 10px; }
      .nav-top ul li a {
        color: #44f0f2;
        font-size: 20px;
        -webkit-transition: 300ms;
        -o-transition: 300ms;
        transition: 300ms; }
      .nav-top ul li a:hover {
        color: #fff; }
    .nav-top ul .li-fb {
      padding-left: 0px; }
    @media only screen and (max-width: 480px) {
      .nav-top ul {
        text-align: center; } }
  .nav-top .nav-apoint {
    color: #fff;
    text-align: right; }
    .nav-top .nav-apoint a {
      color: #fff;
      font-weight: 800;
      text-decoration: none;
      margin-left: 10px; }
      @media only screen and (max-width: 480px) {
        .nav-top .nav-apoint a {
          display: block; } }
    @media only screen and (max-width: 480px) {
      .nav-top .nav-apoint {
        text-align: center; } }

.nav-1 {
  padding: 15px 0px;
  border-bottom: 1px solid #e3e4e4; }
  .nav-1 .nav-contact-icon1, .nav-1 .nav-contact-icon2 {
    padding: 0;
    -ms-flex-item-align: center !important;
    -ms-grid-row-align: center !important;
    align-self: center !important; }
    .nav-1 .nav-contact-icon1 div, .nav-1 .nav-contact-icon2 div {
      border: 1px solid #00B3B5;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      color: #00B3B5;
      -webkit-transition: 300ms;
      -o-transition: 300ms;
      transition: 300ms; }
      .nav-1 .nav-contact-icon1 div i, .nav-1 .nav-contact-icon2 div i {
        padding-top: 8px;
        font-size: 22px; }
  .nav-1 .nav-contact-icon1:hover div, .nav-1 .nav-contact-icon2:hover div {
    background: #00B3B5;
    color: #fff; }
  .nav-1 .nav-contact-text .nav-contact-head {
    font-weight: 800; }
  .nav-1 .nav-contact-text .nav-contact-info {
    display: block; }
  .nav-1 .dental-logo img {
    width: 200px !important; }

.nav-menu {
  padding-left: 0;
  padding-right: 0;
  -webkit-box-shadow: 0 4px 6px -6px #616262;
  box-shadow: 0 4px 6px -6px #616262; }
  .nav-menu .nav-link {
    font-size: 18px;
    padding: 10px; }
  .nav-menu li + li {
    margin-left: 20px; }
  .nav-menu li:first-child > a {
    padding-left: 0 !important; }
  .nav-menu .dropdown-toggle::after {
    display: none; }
  .nav-menu .dropdown-toggle i {
    font-size: 24px;
    position: absolute;
    bottom: 12px;
    right: -13px;
    color: #000; }
  .nav-menu .dropdown-menu {
    top: 40px;
    padding: 0;
    margin: 0; }
    .nav-menu .dropdown-menu .dropdown-item {
      color: #00B3B5;
      border-bottom: 1px solid #00B3B5; }
    .nav-menu .dropdown-menu .dropdown-item:hover {
      color: #000;
      font-weight: 800; }
    .nav-menu .dropdown-menu .dropdown-item:active, .nav-menu .dropdown-menu .dropdown-item:focus {
      color: #000;
      font-weight: 800;
      background: #fff; }
  .nav-menu .nav-item:hover .nav-link {
    font-weight: 800;
    color: #000; }
  .nav-menu .active .nav-link {
    font-weight: 800;
    color: #000; }
  .nav-menu .last-li {
    margin-left: 35px; }

@media only screen and (max-width: 480px) {
  .nav-1 {
    padding-top: 0; }
    .nav-1 .nav-icon {
      display: none; }
    .nav-1 .nav-contact-icon1 {
      margin-top: 20px; }
    .nav-1 .nav-contact-icon2 {
      margin-top: 0px; }
    .nav-1 .nav-contact-icon1 div, .nav-1 .nav-contact-icon2 div {
      margin: auto; }
    .nav-1 .nav-contact-text {
      text-align: center;
      margin-bottom: 15px; }
  .nav-menu {
    display: none; }
  .nav-menu-mob {
    display: block;
    -webkit-box-shadow: 0 4px 6px -6px #616262;
    box-shadow: 0 4px 6px -6px #616262; }
    .nav-menu-mob .dropdown-menu {
      border: none;
      padding-top: 0; }
    .nav-menu-mob .dropdown-item {
      border-bottom: 1px solid #00B3B5;
      padding-left: 5px;
      color: #00B3B5; }
    .nav-menu-mob .dropdown-item:active, .nav-menu-mob .dropdown-item:focus {
      background: none;
      outline: none; }
    .nav-menu-mob .nav-link {
      font-size: 18px;
      font-weight: 400; }
    .nav-menu-mob .nav-link:hover {
      color: #00B3B5; }
    .nav-menu-mob .dropdown-toggle::after {
      display: none; }
    .nav-menu-mob .navbar-toggler:focus {
      border: none;
      outline: none; }
    .nav-menu-mob i {
      color: #00B3B5;
      font-size: 24px; }
    .nav-menu-mob img {
      width: 170px; } }

.carousel-caption {
  position: absolute;
  right: 0%;
  bottom: 200px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: left; }
  .carousel-caption h5 {
    font-size: 36px;
    color: #00B3B5;
    font-weight: 800; }

.about-dental .title {
  text-align: left;
  margin-bottom: 10px; }

.about-dental p {
  margin-bottom: 10px; }

@media only screen and (max-width: 480px) {
  .about-dental .title {
    margin-top: 20px; } }

.why-choose-us {
  background: #00B3B5; }
  .why-choose-us .choose-icon {
    width: 150px;
    height: 150px;
    border: 2px solid #fff;
    border-radius: 50%;
    text-align: center;
    margin: auto;
    -webkit-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms; }
    .why-choose-us .choose-icon i {
      font-size: 60px;
      padding-top: 45px;
      color: #fff;
      -webkit-transition: 300ms;
      -o-transition: 300ms;
      transition: 300ms; }
  .why-choose-us .choose-icon:hover {
    background: #fff; }
    .why-choose-us .choose-icon:hover i {
      color: #00B3B5; }
  .why-choose-us h4 {
    margin-top: 20px;
    color: #fff;
    text-align: center; }
  .why-choose-us p {
    color: #fff;
    text-align: center;
    margin: 0; }

@media only screen and (max-width: 480px) {
  .why-choose-us .choose-box {
    margin-top: 40px; } }

.our-services .sub-title {
  text-align: left;
  font-size: 22px;
  margin-top: 30px;
  margin-bottom: 0; }

.our-services .service-img {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 100%; }

@media only screen and (max-width: 480px) {
  .our-services .service-box {
    margin-top: 40px; }
  .our-services .sub-title {
    margin-top: 10px; } }

@-webkit-keyframes shine {
  100% {
    left: 125%; } }

@keyframes shine {
  100% {
    left: 125%; } }

.home-testimonial {
  background: #f7f7f7; }
  .home-testimonial .testimonial-img {
    width: 120px;
    height: 120px;
    margin: auto; }
    .home-testimonial .testimonial-img img {
      border-radius: 50%; }
  .home-testimonial p {
    font-size: 18px; }
  .home-testimonial .testimonial-info2 {
    margin-top: 15px; }
    @media only screen and (max-width: 480px) {
      .home-testimonial .testimonial-info2 {
        text-align: center; } }
  .home-testimonial .testimonial-name {
    color: #000;
    font-weight: 800; }
  .home-testimonial .testimonial-date {
    font-size: 14px; }
  .home-testimonial .fa-quote-left {
    text-align: left;
    font-size: 30px;
    color: #00B3B5; }
  .home-testimonial p + p {
    margin-bottom: 0; }
  .home-testimonial .item {
    padding: 0 20px; }
    @media only screen and (max-width: 480px) {
      .home-testimonial .item {
        margin-top: 30px; } }
  .home-testimonial .owl-prev, .home-testimonial .owl-next {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 3.5rem !important;
    color: #616262 !important; }
  .home-testimonial .owl-prev {
    left: -15px; }
  .home-testimonial .owl-next {
    right: -15px; }
  .home-testimonial .owl-theme .owl-nav [class*=owl-]:hover {
    background: none;
    color: inherit;
    text-decoration: none; }
  .home-testimonial .owl-theme .owl-nav [class*=owl-]:focus {
    outline: none;
    border: none; }

.home-help {
  background: #00B3B5; }
  .home-help .col-md-8 {
    padding-left: 0; }
  .home-help .home-help-btn {
    text-align: right;
    -ms-flex-item-align: center !important;
    -ms-grid-row-align: center !important;
    align-self: center !important; }
    @media only screen and (max-width: 480px) {
      .home-help .home-help-btn {
        text-align: center;
        margin-top: 30px; } }
  .home-help .title {
    text-align: left;
    color: #fff;
    margin-bottom: 10px; }
  .home-help p {
    text-align: left;
    color: #fff;
    font-size: 22px;
    font-style: italic; }

.home-blog .blog-title {
  font-size: 22px;
  margin-top: 20px;
  font-weight: 800; }

.dental-footer {
  background: #2c2d2d; }
  @media only screen and (max-width: 480px) {
    .dental-footer {
      padding-top: 20px; } }
  .dental-footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    color: #fff; }
    @media only screen and (max-width: 480px) {
      .dental-footer ul {
        text-align: center; } }
    .dental-footer ul li {
      margin-bottom: 15px;
      font-size: 14px; }
      @media only screen and (max-width: 480px) {
        .dental-footer ul li {
          margin-bottom: 5px; } }
  .dental-footer h5 {
    color: #fff;
    margin-bottom: 0px; }
    @media only screen and (max-width: 480px) {
      .dental-footer h5 {
        margin-top: 20px;
        text-align: center; } }
  .dental-footer a {
    color: #fff;
    -webkit-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms; }
  .dental-footer a:hover {
    color: #00B3B5; }
  .dental-footer i {
    color: #00B3B5; }
  .dental-footer li:last-child {
    margin-bottom: 0px; }

.dental-copy {
  background: #222; }
  .dental-copy .container {
    padding-top: 15px;
    padding-bottom: 15px; }
  .dental-copy ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: right; }
    .dental-copy ul li {
      display: inline-block;
      padding: 0;
      vertical-align: middle; }
      .dental-copy ul li i {
        font-size: 22px;
        color: #828383;
        -webkit-transition: 300ms;
        -o-transition: 300ms;
        transition: 300ms; }
      .dental-copy ul li i:hover {
        color: #fff; }
    .dental-copy ul li + li {
      margin-left: 30px; }
  .dental-copy p span {
    color: #00B3B5; }

@media only screen and (max-width: 480px) {
  .dental-copy p, .dental-copy ul {
    text-align: center; } }

.tx-div {
  width: 45px;
  display: block;
  height: 3px;
  opacity: .8;
  margin: 10px 0 25px;
  border-bottom: 2px solid #00B3B5; }
  @media only screen and (max-width: 480px) {
    .tx-div {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 10px;
      margin-top: 5px; } }

/* Go Top */
.go-top {
  position: fixed;
  z-index: 900;
  right: 10px;
  bottom: 70px;
  display: none;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #00B3B5;
  background: #00B3B5 !important;
  font-size: 40px;
  text-align: center;
  color: #fff !important;
  -o-transition: background 0.3s, color 0.3s;
  transition: background 0.3s, color 0.3s;
  -ms-transition: background 0.3s, color 0.3s;
  -moz-transition: background 0.3s, color 0.3s;
  -webkit-transition: background 0.3s, color 0.3s; }
  .go-top i {
    line-height: 57px;
    font-size: 44px; }

.go-top:hover {
  background: #3f3f3f;
  color: #c1c0b4; }

.wa-sticky {
  left: 10px;
  background: transparent !important;
  border: 2px solid transparent;
  cursor: pointer; }
  .wa-sticky .fa {
    font-size: 28px;
    height: 28px; }
  .wa-sticky .fa::before {
    margin-bottom: 10px; }

@media only screen and (max-width: 480px) {
  .about-dental .sub-title {
    margin-top: 30px; } }

.about-team {
  background: #f7f7f7; }
  .about-team .team-possition {
    color: #000;
    font-size: 18px;
    margin: 10px 0px;
    font-weight: 800; }
  .about-team ul {
    list-style: none;
    padding: 0;
    margin-top: 15px; }
    .about-team ul li {
      display: inline-block; }
    .about-team ul li + li {
      margin-left: 20px; }
    .about-team ul i {
      font-size: 20px;
      color: #00B3B5;
      -webkit-transition: 300ms;
      -o-transition: 300ms;
      transition: 300ms; }
    .about-team ul i:hover {
      color: #616262; }

.contact h4 {
  margin-bottom: 10px; }

.contact p {
  margin-bottom: 20px; }

.contact .form-control {
  background: #f7f7f7; }

.contact .form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none; }

.contact .contact-lbl {
  color: #616262;
  font-size: 18px; }

@media only screen and (max-width: 480px) {
  .contact .col-md-12 {
    margin-bottom: 30px; }
  .contact h4 {
    text-align: center; }
  .contact p {
    text-align: center; }
  .contact .contact-form {
    margin-top: 30px; } }

.service .sub-title {
  text-align: center;
  margin-bottom: 30px;
  margin-left: 50px;
  margin-right: 50px; }

.service p {
  font-size: 18px;
  text-align: center;
  margin-bottom: 15px;
  margin-left: 50px;
  margin-right: 50px; }

.service .carousel {
  margin-top: 50px; }

@media only screen and (max-width: 480px) {
  .service .sub-title {
    margin-top: 30px;
    margin-left: 0;
    margin-right: 0; }
  .service p {
    margin-left: 0;
    margin-right: 0; } }

.blog-list .blog-box p {
  margin-top: 25px; }

.blog-list .blog-box button {
  margin-bottom: 25px; }

.blog-list .blog-box hr {
  margin-bottom: 40px; }

.blog-box ul {
  list-style: none;
  padding: 0; }
  .blog-box ul li {
    display: inline-block;
    padding: 0;
    vertical-align: middle;
    font-style: italic;
    color: #616262; }
  .blog-box ul li + li {
    position: relative;
    margin-left: 30px; }
  .blog-box ul li + li::before {
    content: '';
    position: absolute;
    bottom: 0px;
    display: inline-block;
    left: -19px;
    width: 1px;
    height: 22px;
    background: #e3e4e4; }

.blog-box p {
  margin-top: 20px; }

@media only screen and (max-width: 480px) {
  .blog-box {
    margin-top: 30px; } }

.service-side-div .service-box {
  padding-top: 25px;
  padding-bottom: 10px; }
  .service-side-div .service-box .sub-title {
    font-size: 20px;
    margin-top: 10px;
    margin-left: 0;
    margin-bottom: 0;
    text-align: left; }

.service-side-div .sub-title {
  color: #00B3B5 !important; }
  @media only screen and (max-width: 480px) {
    .service-side-div .sub-title {
      margin-top: 30px; } }

.blog-details .title {
  text-align: left;
  margin-bottom: 10px; }

.blog-details .sub-title {
  color: #616262;
  margin-bottom: 30px; }

.sideslider {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  left: auto;
  margin-right: -315px;
  position: fixed;
  right: 0;
  top: 220px;
  width: 350px;
  z-index: 3500;
  display: block; }
  .sideslider .book-appointment {
    background-color: #00B3B5;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    height: 150px;
    left: -33px;
    padding-top: 5px;
    text-align: center;
    position: absolute;
    top: 34px;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    width: 218px; }
    .sideslider .book-appointment a {
      color: #fff; }
  .sideslider #appointment-form {
    background-color: white;
    margin-left: 35px;
    padding: 25px;
    position: relative;
    width: 265px; }

/*****************************************************************************************/
/************************************** Admin ********************************************/
/*****************************************************************************************/
.dashboard .form-group {
  margin-bottom: 15px !important; }

.dashboard .btn-dental {
  padding: 8px 20px; }

.dashboard .title {
  margin-bottom: 5px;
  font-size: 36px; }

.dashboard .fa-eye {
  color: green; }

.dashboard .fa-edit {
  color: blue; }

.dashboard .fa-trash {
  color: red; }
